/* Постоянные клиенты */
.clients-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__icon {
  width: 170px;
  height: 92px;
  display: block;
  fill: #afb1b8;
  border: 2px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--transition-function), border var(--transition-function);
}
.clients-list__icon:hover {
  fill: $accent-color;
  border: 2px solid $accent-color;
}
