/* Хедер */

.navigation-container,
.contacts-list {
  @extend %spaceBetweenCenter;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  @extend %spaceBetweenCenter;
  margin: 24px 0;
}

.navigation-list {
  @extend %spaceBetweenCenter;
  margin-left: 93px;
}

.navigation-list__item {
  @extend %verticalCenter;
  margin-left: 50px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }
}

.contacts-list__item {
  @extend %verticalCenter;
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.header__link {
  font-weight: 500;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation-list__link {
  color: $section-title-color;
  line-height: 1.17;
  transition: color var(--transition-function);

  &::after {
    content: '';
    display: none;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -32px;
    left: 0;
  }
}

.contacts-list__link {
  @extend %verticalCenter;
  line-height: 1.14;
  color: $primery-text-color;
  fill: $primery-text-color;
  transition: color var(--transition-function), fill var(--transition-function);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.active-page {
  color: $accent-color;

  &::after {
    display: block;
  }
}

.contacts-list__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contacts-list__icon-telephone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
