.logo {
  font-family: $raleway;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;

  &--blue-part {
    color: $accent-color;
  }

  .header & {
    color: $black-color;
  }
  .footer & {
    color: $white-color;
  }
}
