// Цветовая палитра

$accent-color: #2196f3;
$primery-text-color: #757575;
$section-title-color: #212121;
$white-color: #ffffff;
$header-logo-color: #000000;
$logos-buttons-shadow: rgba(0, 0, 0, 0.25);
$footer-address-contacts-color: rgba(255, 255, 255, 0.6);
$portfolio-buttons-color: #f5f4fa;
$footer-bgc: #2f303a;
$card-border-color: #eeeeee;

$roboto: 'Roboto', 'Arial', sans-serif;
$raleway: 'Raleway', 'Roboto', 'Arial', sans-serif;
